[user]
  name = Diogo Benicá
  email = diogobenica@gmail.com
[push]
  default = current
[alias]
  co = "checkout"
  cm = "commit"
  st = "status -b"
  ls = "log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
  graph = "log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'"
  logs = "log --pretty=format:\"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]\" --decorate"
[color]
  ui = auto
  branch = auto
  diff = auto
  grep = auto
  interactive = auto
  status = auto
[color "status"]
  changed = yellow
